@font-face {
  font-family: "Zed Mono";
  src: url("/zed-mono/zed-mono-regular.woff2");
}

@font-face {
  font-family: "Zed Mono";
  src: url("/zed-mono/zed-mono-bold.woff2");
  font-weight: 700;
}


@font-face {
  font-family: "Zed Mono";
  src: url("/zed-mono/zed-mono-italic.woff2");
  font-style: italic;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  height: 100%;
}

#app {
  height: 100vh;
}

table {
  width: 100%;
}