.header {
  font-weight: 700;
}

.uploadPreview {
  border-radius: 0.5rem;
}

.toUploadTitle {
  font-weight: 700;
}

.uploadItem + .uploadItem {
  border-top: 1px solid var(--secondary-200);
}

@media (prefers-color-scheme: dark) {
  .uploadItem + .uploadItem {
    border-top-color: var(--secondary-700);
  }
}

.removeButton {
  background-color: transparent;
  padding: 0;
  color: inherit;
}