.tag {
  background-color: var(--secondary-200);
  border-radius: 0.75rem;
  font-size: 0.9rem;
  padding: 0.25rem 0.5rem;
}

@media (prefers-color-scheme: dark) {
  .tag {
    background-color: var(--secondary-700);
  }
}